#phoneIcon
{
    margin-right: 1em;
}

#mailIcon
{
    margin-right: 1em;
}

#aboutIcon
{
    margin-right: 1em;
}

#workIcon
{
    margin-right: 1em;
}

#blogIcon
{
    margin-right: 1em;
}

#contactIcon
{
    margin-right: 1em;
}
