/* slight changes to the body element */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.page
{
    background: #ffffff;
    height: 100vh;
    width: 100%;
}

#sectionLanding
{
    height: 100vh;
    width: 100%;
    background: #1abc9c;
}

#sectionLanding:before
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 0;
    top: 0;
}

#sectionLanding:after
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.content
{
    height: 95%;
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
}

.table
{
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* align content div in vertical middle/center*/

.infoContainer
{
    width: 42%;
    height: 100%;
    float: left;
}

.infoHeader
{
    height: auto;
    width: 98%;
    float: left;
    text-align: left;
    margin: 1%;
}

.deviceImage
{
    margin: 1%;
    height: 100%;
    width: 56%;
    float: right;
    text-align: center;
    z-index: 2;
    position: relative;
}

.GooglePlayBadge
{
    margin: 1%;
}


#previewDevice
{
    /* use width later, might be handier*/
    height: 81vh;
    margin: 0 auto;

    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

#landingTitle
{
    font-size: 3rem;
    font-family: "robotothin";
    font-weight: bold;
    width: 100%;
    margin: 2%;
    color: #ffffff;
}

#landingDescription
{
    font-size: 1.4rem;
    font-family: "robotothin";
    width: 100%;
    margin: 2%;
    color: #ffffff;
}

.nextPageArrow
{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  position: absolute;
  /* relative won't overlap anymore! it was absolute. HOWEVER: won't be aable to add multiple, position is pushed above.*/
  text-decoration: none;
  z-index: 2;
  /*opacity: 0;*/
}

#nextIcon
{
  font-size: 6em;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
}

.arrow
{
  margin-top: 1%;
  margin-bottom: 1%;
  bottom: 0;
}

.bounce
{
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}


@-webkit-keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}

@keyframes bounce
{
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
