/* slight changes to the body element */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.page
{
    background: #ffffff;
    height: 100vh;
    width: 100%;
}

#sectionLanding
{
    height: 100vh;
    width: 100%;
    background: #1abc9c;
}

/* background used to be white / #fff */

#sectionLanding:before
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #ebedee;
    position: absolute;
    z-index: 0;
    top: 0;
}

#sectionLanding:after
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #ebedee;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.content
{
    height: 95%;
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
}

.table
{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.table-cell
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.infoContainer
{
    width: 42%;
    height: 100%;
    float: left;
}

.infoHeader
{
    height: auto;
    float: left;
    text-align: left;
    margin: 1%;
}

.deviceImage
{
    margin: 1%;
    height: 100%;
    width: 56%;
    float: right;
    text-align: center;
    z-index: 2;
    position: relative;
}

.GooglePlayBadge
{
    margin: 3.5%;
}

#previewDevice
{
    height: 81vh;
    margin: 0 auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#titleContainer
{
    width: 100%;
}

#landingTitle
{
    font-size: 3rem;
    font-family: "robotothin";
    font-weight: bold;
    margin: 3.5%;
    color: #ffffff;
}

#descriptionContainer
{
    width: 100%;
}

.landingDescription
{
    font-size: 1.3rem;
    font-family: "robotothin";
    margin: 3.5%;
    color: #ffffff;
}

.nextPageArrow
{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    text-decoration: none;
    z-index: 2;
}

.arrow
{
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0;
}

.bounce
{
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated
{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}

@-webkit-keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}

@keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

/*
    MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    #sectionLanding
    {
        /*background: #000;*/
    }

    .content
    {
        width: 95%;
    }
}

/*
    MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #sectionLanding:before
    {
        background: transparent;
    }

    #sectionLanding:after
    {
        background:transparent;
    }

    #titleContainer
    {
        width: 100%;
    }

    #landingTitle
    {
        text-align: center;
        margin: 0%;
        padding: 2.5%;
    }

    #GooglePlayButton
    {
        width: 100%;
        text-align: center;
        margin: 0%;
    }

    .GooglePlayBadge
    {
        margin: 0%;
        padding: 2.5%;
    }

    #descriptionContainer
    {
        width: 100%;
    }

    .landingDescription
    {
        text-align: center;
        margin: 0%;
        padding: 2.5%;
    }

    .content
    {
        width: 100%;
        height: auto;
    }

    .infoContainer
    {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }

    .infoHeader
    {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0%;
    }

    .deviceImage
    {
        width: 100%;
        text-align: center;
        height: auto;
    }

    #previewDevice
    {
        height: 60vh;
        display: block;
    }

    /*svg
    {
        fill: #fff;
    }*/
}
