/* slight changes to the body element */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.page
{
    background: #ffffff;
    height: 100vh;
    width: 100%;
}

#sectionLanding
{
    height: 100vh;
    width: 100%;
    background: #1abc9c;
}

.content
{
    height: 95%;
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
}

.table
{
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* align content div in vertical middle/center*/

.infoContainer
{
    width: 42%;
    height: 100%;
    float: left;
}

.infoHeader
{
    height: auto;
    width: 98%;
    float: left;
    text-align: left;
    margin: 1%;
}

.deviceImage
{
    margin: 1%;
    height: 100%;
    width: 56%;
    float: right;
    text-align: center;
    z-index: 2;
    position: relative;
}

#previewDevice
{
    /* use width later, might be handier*/
    height: 81vh;
    margin: 0 auto;
}

#landingTitle
{
    font-size: 3rem;
    font-family: "robotothin";
    font-weight: bold;
    width: 100%;
    margin: 2%;
    color: #ffffff;
}

#landingDescription
{
    font-size: 1.5rem;
    font-family: "robotothin";
    width: 100%;
    margin: 2%;
    color: #ffffff;
}

.txt
{
    width: 100%;
}

.bottomPage
{
    height: 15vh;
    background: #fff;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 0;
}
