nav#menu
{
    top: 70px;
    left: 70px;
    max-height: 0px;
    position: fixed;
    max-width: 0px;
    z-index: 120;
    -moz-transition: max-width 0.4s, max-height 0.3s ease-in-out;  /* FF4+ */
    -o-transition: max-width 0.4s, max-height 0.3s ease-in-out;  /* Opera 10.5+ */
    -webkit-transition: max-width 0.4s, max-height 0.3s ease-in-out;  /* Saf3.2+, Chrome */
    -ms-transition: max-width 0.4s, max-height 0.3s ease-in-out;  /* IE10 */
    transition: max-width 0.4s, max-height 0.3s ease-in-out;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

/*.visit:focus
{
    max-width: 0px;
    max-height: 0px;
    height: 0px;
    width: 0px;
    background: #000;
}

nav#menu:hover
{
    background: #000;
    width: 0px;
    height: 0px;
}*/

.IntroTitle
{
    font-family: "roboto";
    text-align: center;
    margin: 6%;
    font-size: 2em;
}

.mailto
{
    text-decoration: none;
    color: #fff;
}

.contactDetail
{
    width: 100%;
    margin: 0 auto;
}

.contactDetails
{
    font-family: "roboto";
    text-align: center;
    font-style: italic;
}

.IntroTitle::after
{
    font-family: "roboto";
    content: " Kalloe";
    font-weight: bold;
}

.ProfilePic
{
    width: 65%;
    border-radius: 100%;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
}

.Intro
{
    background-color: #785447;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    position: relative;
}

.navlist
{
    list-style-type:none;
    margin:0px;
    padding:0px;
    text-align: center;
}

li
{
    display:inline-block;
    text-align: center;
    width: 100%;
}

li a
{
    display:block;
    height:70px;
    min-width:140px;
    text-align:center;
    line-height:70px;
    font-family:"roboto";
    color:#1abc9c;
    text-decoration:none;
    font-size: 1.3rem;
    transition: background-color 0.45s ease;
}

li:hover a
{
    color: #fff;
    background: #1abc9c;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);
}

li:hover ul a
{
    background:#d7f1f3;
    color:#2f3036;
    height:40px;
    line-height:30px;
}

li:hover ul a:hover
{
    -webkit-box-shadow: inset 0px 1px 11px -2px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 0px 1px 11px -2px rgba(0,0,0,0.63);
    box-shadow: inset 0px 1px 11px -2px rgba(0,0,0,0.63);
    border-style: solid;
    border-width: 1px;
    border-color: #254f78;
    background:#75c3ea;
    color:#ffffff;
}

li ul
{
    display:none;
}

li ul li
{
    display:block;
    float:none;
}

li ul li a
{
    width:auto;
    min-width:100px;
    padding:0 20px;
}

.navlist li a:hover + .hidden, .hidden:hover
{
    display:block;
}

.menuBar
{
    width: 100%;
    top: 0;
    height: 60px;
    background-color: rgba(0,0,0,0.0);
    position: fixed;
    z-index: 200;
}

.menuBar:hover
{
    /*background-color: rgba(0,0,0,0.15);
    transition: background-color 0.6s ease;*/
}

.menuIcon
{
    margin-left: 0.5%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.toggle:checked + nav#menu
{
    max-height: 100%;
    max-width: 15%;
    height: auto;
}

.toggler
{
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.biglabel
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.navicon
{
    color: #1abc9c;
    font-size: 2em;
    font-family:"roboto";
    width: 28px;
    height: 28px;
}

#offcanvas, .biglabel
{
    display: none;
}

/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width : 600px) and (max-width:1023px)
{
    nav#menu
    {
        max-width: 0px;
        max-height: 0px;
    }

    .toggle:checked + nav#menu
    {
        max-height: 100%;
        max-width: 25%;
        width: 25%;
        height: auto;
    }

    .Intro
    {
        display: none;
    }
}

/* MOBILE DEVICES */
@media screen and (max-width:599px)
{
    nav#menu
    {
        max-width: 0px;
        max-height: 0px;
        left: 0;
        margin-left: 2.5%;
        /* not really in the center... -.-*/
    }

    .toggle:checked + nav#menu
    {
        max-height: 100%;
        max-width: 100%;
        left: 0;
        width: 95%;
        height: auto;
    }

    .Intro
    {
        display: none;
    }
}
