#sectionNotes
{
    height: auto;
    width: 100%;
    background: #FAFAFA;
    padding-bottom: 5%;
}

@font-face
{
    font-family: timeburner;
    src: url(../fonts/timeburner.ttf);

    font-family: robotothin;
    src: url(../fonts/robotothin.ttf);
}

.pageTitleTop
{
    width: 100%;
    height: 40%;
    text-align: center;
}

#smallTitleContainer
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.cards
{
    width: 63%;
}

q
{
    color: #1abc9c;
}

.highlight
{
    color: #1abc9c;
}

.highlight:before
{
    content: "";
}

.highlight:after
{
    content: "";
}

.topTitle
{
    font-size: 3rem;
    font-family: "robotothin";
    font-weight: bold;
    color: #34495e;
}

.hightlight
{
    display: inline-block;
}

.topSubTitle
{
    font-size: 1.3em;
    font-family: "robotothin";
    font-weight: bold;
    color: #818487;
    margin: 1%;
}

.quote:before
{
  content: "\201C";
  font-family: Georgia, serif;
  margin: 0.15em;
}

.quote:after
{
  content: "\201D";
  font-family: Georgia, serif;
  margin: 0.15em;
}

.cardsContainer
{
    width: 100%;
    height: 55%;
    color: #ccc;
}

.cardsWrapper
{
    width: 57%;
    height: 80%;
    /*background: #ccc;*/
    margin: 0 auto;
}

.card
{
    width: 23%;
    height: auto;
    display: table-cell;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 0.35s ease-in-out 0s;
    -moz-transition: box-shadow 0.35s ease-in-out 0s;
    -o-transition: box-shadow 0.35s ease-in-out 0s;
    -ms-transition: box-shadow 0.35s ease-in-out 0s;
    transition: box-shadow 0.35s ease-in-out 0s;
}

.hidden
{
    display: none;
}

#table
{
    border-collapse: separate;
    border-spacing: 15px;
}

.table-row
{
    display: table-row;
}

.card:hover
{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.card:hover .boxDescription
{
    color: #34495e;
}

.card:hover .cardIcon
{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

/*.card:hover .boxTitle
{
    color: #1abc9c;
}*/

.cardGraphic
{
    display: inline-block;
    width: 100%;
    height: 20%;
    /*background: #dcdcdc;*/
    text-align: center;
}

.cardIcon
{
    background: #1abc9c;
    padding: 5%;
    margin: 10%;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    -webkit-transition: box-shadow 0.35s ease-in-out 0s;
    -moz-transition: box-shadow 0.35s ease-in-out 0s;
    -o-transition: box-shadow 0.35s ease-in-out 0s;
    -ms-transition: box-shadow 0.35s ease-in-out 0s;
    transition: box-shadow 0.35s ease-in-out 0s;
}

.cardSummary
{
    width: 100%;
    height: auto;
    /*background: #eee;*/
    /*margin-top: 10%;*/
    /* used to be 79*/
}

.cardLink
{
    text-decoration: none;
    display: block;
}

.arrow_box
{
    position: relative;
    background: transparent;
    height: auto;
    min-height: 45%;
    width: 100%;
    border-radius: 15px;
}
.arrow_box:after
{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(26, 188, 156, 0);
    border-bottom-color: transparent;
    /* above line for arrow */
    border-width: 30px;
    margin-left: -30px;
}

hr
{
    border: 0;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background: #ccc;
}

.boxTitleContainer
{
    height: 15%;
    width: 100%;
    text-align: center;
}

.boxTitle
{
    color: #34495e;
    transition: color 0.35s ease;
}

.boxDescription
{
    padding: 3%;
    font-size: 1.3rem;
    font-family: "robotothin";
    color: #818487;
    /*font-weight: 600;*/
}

.boxDescriptionContainer
{
    height: 85%;
    width: 90%;
    margin: 0 auto;
    padding: 4%;
}

/*
MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    #sectionLanding
    {
      /*background: #000;*/
    }

    .content
    {
        width: 95%;
    }

    .hidden
    {
        display: none;
    }
}

/*
MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #sectionNotes
    {
        height: auto;
    }

    .content
    {
        width: 100%;
        height: auto;
    }

    .table-row
    {
        display: block;
    }

    .hidden
    {
        display: none;
    }

    .pageTitleTop
    {
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .topTitle
    {

    }

    .card
    {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    #table
    {
        border-spacing: 10px;
    }
}
