.details
{
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
}

.section-details
{
    height: auto;
    width: 100%;
    background: #FAFAFA;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top
{
    top: 0;
    /*background-image: url("images/backgrounds/grocery-store-mini-min.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;*/
}

.bottom
{
    bottom: 0;
}

.right
{
    float: right;
}

.detailsPicture
{
    height: 65vh;
    -webkit-filter: drop-shadow(0 10px 40px rgba(0, 0, 0, 0.19));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

/*
    MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    #smallNotesDevice
    {
        height: 65vh;
    }
}

/*
    MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #smallNotesDevice
    {
        height: 50vh;
    }

    #smallNotesDevice2
    {
        height: 50vh;
    }
}
