#sectionPhoto
{
    width: 100%;
    background: #1abc9c;

    background-image: url("images/backgrounds/flat_text_background2.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;
    position: relative;
}

#sectionPhoto:before
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 0;
    top: 0;
}

#sectionPhoto:after
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

#photoNotesDevice
{
    /*margin-top: 40%;*/
    overflow: hidden;
    z-index: 0;
}

/*
MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    .content
    {
        width: 95%;
    }
}

/*
MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #sectionPhoto
    {
        height: auto;
    }

    #sectionPhoto:before
    {
        background: transparent;
    }

    #sectionPhoto:after
    {
        background: transparent;
    }

    #photoNotesDevice
    {
        margin-top: 10%;
    }
}
