#sectionText
{
    width: 100%;
    background: #F5F5F5;
    /*height: auto;*/
    /* best height solution ?*/

    background-image: url("images/backgrounds/grocery-store-mini-min.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* test */
#sectionPhoto
{
    width: 100%;
    background: #FAFAFA;
}

#sectionText:before
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 3;
    top: 0;
}

#sectionText:after
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 3;
    bottom: 0;
}

#textNotesDevice
{
    /*margin-top: 40%;*/
    overflow: hidden;
    z-index: 0;
}

/*
    MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    .content
    {
        width: 95%;
    }
}

/*
    MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #sectionText
    {
        height: auto;
    }

    #sectionText:before
    {
        background: transparent;
    }

    #sectionText:after
    {
        background: transparent;
    }

    #textNotesDevice
    {
        margin-top: 10%;
    }
}
