#sectionText
{
    width: 100%;
    background: #1abc9c;
    /*height: auto;*/
    /* best height solution ?*/

    background-image: url("images/backgrounds/flat_text_background.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;
    position: relative;
}

#sectionText:before
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 0;
    top: 0;
}

#sectionText:after
{
    content: "";
    height: 16vh;
    width: 100%;
    background: #FAFAFA;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

#textNotesDevice
{
    /*margin-top: 40%;*/
    overflow: hidden;
    z-index: 0;
}

/*
    MEDIA QUERY TABLET
*/
@media screen and (min-width : 600px) and (max-width:1023px)
{
    .content
    {
        width: 95%;
    }
}

/*
    MEDIA QUERY SMARTPHONE
*/
@media screen and (max-width:599px)
{
    #sectionText
    {
        height: auto;
    }

    #sectionText:before
    {
        background: transparent;
    }

    #sectionText:after
    {
        background: transparent;
    }

    #textNotesDevice
    {
        margin-top: 10%;
    }
}
