.no-js #loader
{
    display: none;
}

.js #loader
{
    display: block; position: absolute; left: 100px; top: 0;
}

.se-pre-con
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/preloader.gif) center no-repeat #fff;
}

::-webkit-scrollbar
{
    width: 8px;
    border-radius: 15px;
}

::-webkit-scrollbar-track
{
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;

}

::-webkit-scrollbar-thumb
{
    border: thin solid gray;
    border-radius:10px;
    background:#999 !important;
}

::-webkit-scrollbar-thumb:hover
{
    background: #7d7d7d !important;
}

::-moz-selection
{
    color: black;
    background: transparent;
}

::selection
{
    color: black;
    background: transparent;
}
